.highlights {
  padding: 20px 20px 140px;
}

.highlights__title {
  color: #e7e7eb;
  font-size: 2.4rem;
}

.highlight {
  background-color: #1e213a;
  margin-top: 32px;
  padding: 22px;
}

.highlight__title {
  font-size: 1.6rem;
  color: #e7e7eb;
  font-weight: normal;
  text-align: center;
}

.highlight__content {
  text-align: center;
  font-size: 6.4rem;
  color: #e7e7eb;
  font-weight: bold;
}

.highlight__unit {
  font-size: 3.6rem;
  font-weight: normal;
  margin-left: 10px;
}

.wind-direction {
  color: #e7e7eb;
  font-size: 1.4rem;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  margin-top: 24px;
}

.wind-compass {
  transform: rotate(var(--rotation));
  display: inline-block;
  background-color: #ffffff4d;
  padding: 5px 6px 6px 6px;
  border-radius: 50%;
}

.humidity-percentage {
  width: 100%;
  box-sizing: border-box;
  padding: 0 30px;
  margin-top: 7px;
}

.humidity-label {
  font-size: 1.4rem;
  font-weight: bold;
  color: #a09fb1;
  display: flex;
  justify-content: space-between;
}

.humidity-bar {
  height: 10px;
  background-color: #e7e7eb;
  border-radius: 80px;
  position: relative;
}

.humidity-bar::after {
  content: "";
  display: block;
  width: var(--percentage);
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background-color: #ffec65;
  border-radius: 80px;
}

.humidity-percentage-symbol {
  text-align: right;
  font-size: 1.4rem;
  font-weight: bold;
  margin-top: 5px;
  color: #a09fb1;
}

@media (min-width: 1300px) {
  .highlights {
    display: grid;
    grid-template-columns: repeat(2, min(calc(50% - 24px), 376px));
    justify-content: center;
    gap: 48px;
  }

  .highlights__title {
    grid-column: 1 / 3;
  }

  .highlight {
    margin: 0;
  }
}
