.weather {
  display: grid;
  grid-template-rows: max-content 1fr repeat(4, max-content);
  justify-items: center;
  align-items: center;
  min-height: 100%;
  position: relative;
  max-width: 460px;
  text-align: center;
  box-sizing: border-box;
  padding: 30px 20px 60px;
  background: linear-gradient(
      rgba(30, 33, 58, 0.95) 100%,
      rgba(30, 33, 58, 0.95) 100%
    ),
    url("/Cloud-background.png") no-repeat 50% 0%;
  background-color: #1e213a;
  background-size: 155%;
}

.weather__actions {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  margin-bottom: 20px;
}

.weather__request-geolocation-button {
  background-color: #6e707a;
  box-shadow: 0px 4px 4px 0px #00000040;
  padding: 9px;
  font-size: 2rem;
  color: white;
  border: none;
  border-radius: 50%;
}

.weather__temperature {
  font-size: 14.4rem;
  color: #e7e7eb;
  margin-bottom: 5vh;
}

.weather__temperature__unit {
  font-size: 4.8rem;
  color: #a09fb1;
}

.weather__weather {
  font-size: 3.6rem;
  font-weight: 600;
  color: #a09fb1;
  margin-bottom: 48px;
}

.weather__date {
  color: #88869d;
  font-size: 2.1rem;
  display: flex;
  align-items: center;
  width: max-content;
  gap: 20px;
  transform: translateX(calc(50% - 90px));
  margin-bottom: 30px;
}

.weather__location {
  color: #88869d;
  font-size: 1.8rem;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 3px;
}
